div
  div(v-if="loading.meetingWindow")
    Title Retrieving Event Details...
    v-progress-circular(size="70", color="primary", indeterminate)
  div(v-else-if="canRenderView")
    Title Set Up Event
    v-form(ref="form", v-model="isFormValid", lazy-validation)
      Accordion(title="1. Fill In Event Details")
        TextInput(name="title" label="Event Name *",
                  :value="meetingWindow.title", required,
                  placeholder="e.g. Sonoma Wine Tour", @update="updateInput")
        TextInput(name="location" label="Location",
          :value="meetingWindow.location",
          placeholder="e.g. 3124 Sonoma Way, Napa, CA 94558",
          @update="updateInput")
        TextInput(name="description" label="Description", @update="updateInput",
          :value="meetingWindow.description", placeholder=" ")
        DurationField(
          required, label="Event Duration *" name="duration",
          :durations="options.durations", :value="meetingWindow.duration",
          @change="updateInput")

      Accordion(title="2. Add Event Availability")
        AvailabilityField(
          label='Availability *', name="availableTimes",
          :value="meetingWindow.availableTimes",
          :weekdayOptions="options.weekdays",
          :weekdayPresets="options.weekdayPresets",
          :hourOptions="options.hours", :weekday="meetingWindow.weekday", 
          :startHour="meetingWindow.startHour",
          :endHour="meetingWindow.endHour", @change="updateInput")

        Accordion(title="Advanced Settings" :expanded="false", small)
          v-layout(row, wrap)
            v-flex(xs-12)
              ToggleButtons(
                required, label="Time Slot Increments *" name="timeSlotInterval",
                tooltip="Show time slots every 15, 30, 45, or 60 minutes.",
                :options="options.timeSlotIntervals",
                :value="meetingWindow.timeSlotInterval",
                @click="updateInput")
          v-layout(row)
            v-flex(xs5)
              NumberField(
                required, name="availabilityRange" label="Availability Range *",
                tooltip="Time slots are shown up to the next 1–90 days.",
                placeholder="30",
                :value="meetingWindow.availabilityRange", :min=1, :max=90,
                suffix="days", @change="updateInput")
          v-layout(row, wrap)
            v-flex(xs5)
              NumberField(
                required, name="timeBufferBefore" label="Buffer Before *",
                tooltip="Preserve 0-99 minutes buffer before each scheduled event.",
                placeholder="0",
                :value="meetingWindow.timeBufferBefore", :min=0, :max=99,
                suffix="mins", @change="updateInput")
            v-flex(xs1)
            v-flex(xs5)
              NumberField(
                required, name="timeBufferAfter" label="Buffer After *",
                tooltip="Preserve 0-99 minutes buffer after each scheduled event."
                placeholder="0",
                :value="meetingWindow.timeBufferAfter", :min=0, :max=99,
                suffix="mins", @change="updateInput")

      Accordion(:title="calendarSectionTitle")
        Authenticator(:isEditMode="isEditMode")
        TextInput(name="organizer" label="Organizer *", required,
                  :value="meetingWindow.organizer",
                  placeholder="Johnny Appleseed", @update="updateInput")
        Dropdown(
          required, label="Time Zone *", name="timeZone", :value="meetingWindow.timeZone",
          :options="options.timeZones", @update="updateInput")
      div.mt-5
        Button.action-submit(
          @click="submit", :loading="loading.submit", :disabled="!isFormValid")
          | {{ isEditMode ? 'Update' : 'Create' }} Event
        Button.action-delete(
            v-if="isEditMode" @click="deleteWindow", color="error")
          | Delete Event

