div
  div(v-if="loading.meetingWindow")
    Title Retrieving Event Details...
  div(v-else)
    Title {{ stepTitles[step] }}

  template(v-if="step === 0")
    div.timeslots-scroll-panel
      template(v-if="meetingWindow.id")
        div(v-for="(slots, date) in slotGroups", :key="date")
          div.text-xs-left.headline.accent--text.opacity-9.font-weight-medium
            | {{ formatDate('date', date) }}
          v-container(grid-list-xs)
            v-layout(row wrap)
              v-flex(xs4, v-for="(slot, index) in slots", :key="index")
                TimeSlotBlock(:timeSlot="slot", :timeZone="timeZone",
                              :formatDate="formatDate")
        InfiniteLoading(@infinite="infiniteHandler")
          div(slot="spinner")
            div.progress-container
              v-progress-circular(size="70", color="primary", indeterminate)
          div(slot="no-more")
            .headline.accent--text
            | No more time slots.
          div(slot='no-results')
            .headline.accent--text
            | Sorry. There are no available times for this event.
    v-container(grid-list-xs).px-0
      v-layout(row wrap)
        v-flex(xs8)
          div.text-xs-left.subheading.success--text
            | All times are in {{timeZone}} time
        v-flex(xs4)
          div.text-xs-right
            Button(@click="moveStep(1)",
                  :disabled="!timeSlots.selectedSlot").mx-0 Next

  template(v-if="step === 1")
    div.timeslots-scroll-panel
      v-form(ref="form", v-model="isTargetFormValid", lazy-validation)
        TextInput(name="name" label="Name *", :value="timeSlots.name",
          required,
          placeholder="Johnny Appleseed", @update="updateInput")
        TextInput(name="email" label="Email *", :value="timeSlots.email",
          required, type="email",
          placeholder="youremail@example.com", @update="updateInput")
        Textarea(v-if="isExtraDescriptionVisible"
          name="extraDescription" label="Note",
          :value="timeSlots.extraDescription",
          placeholder="Additional Information", @update="updateInput")
    v-container(grid-list-xs).px-0
      v-layout(row wrap, align-center)
        v-flex(xs6).text-xs-left
          Button(@click="moveStep(-1)").mx-0 Back
        v-flex(xs6)
          div.text-xs-right
            Button(@click="validateForm",
                  :disabled="!isTargetFormValid").mx-0 Next

  template(v-if="step === 2")
    div.timeslots-scroll-panel.text-xs-left
      div.headline.accent--text.font-weight-bold {{ meetingWindow.title }}
      div.mb-5.subheading {{ meetingWindow.location }}
      InputLabel.mb-1 SCHEDULED TIME
      div.mb-4
        div.title.accent--text.opacity-9.font-weight-bold
          | {{ formatDate('fullHour', timeSlots.selectedSlot.start) }}
          | -
          | {{ formatDate('fullHour', timeSlots.selectedSlot.end) }}
          | ({{timeZone}} time)
        div.subheading.accent--text.opacity-9
          | {{ formatDate('date', timeSlots.selectedSlot.start) }}
      InputLabel.mb-1 CONTACT INFO
      div.mb-4
        div.title.accent--text.opacity-9.font-weight-bold {{ timeSlots.name }}
        div.subheading.accent--text.opacity-9 {{ timeSlots.email }}
      Textarea(v-if="isExtraDescriptionVisible && timeSlots.extraDescription"
               name="extraDescription" label="Note",
               :value="timeSlots.extraDescription", :readonly="true")
    v-container(grid-list-xs).px-0
      v-layout(row wrap, align-center)
        v-flex(xs6).text-xs-left
          Button(@click="moveStep(-1)").mx-0 Back
        v-flex(xs6).text-xs-right
          Button(@click="executeRecaptcha" :loading="loading.submit").mx-0
            | Schedule Meeting
  div#recaptcha
