div
  Title Set Up Event
  v-form(ref="form", v-model="isFormValid", lazy-validation)
    Accordion(title="1. Fill In Event Details")
      TextInput(name="title" label="Event Name *",
        :value="meetingWindow.title", :rules="['required']",
        placeholder="e.g. Sonoma Wine Tour", @update="updateInput")
      TextInput(name="location" label="Location",
        :value="meetingWindow.location",
        placeholder="e.g. 3124 Sonoma Way, Napa, CA 94558",
        @update="updateInput")
      TextInput(name="description" label="Description", @update="updateInput",
        :value="meetingWindow.description", placeholder=" ")
      ToggleButtons(
        label="Event Duration *" name="duration",
        :options="options.durations", :value="meetingWindow.duration",
        @click="updateInput")

    Accordion(title="2. Add Event Availability")
      ToggleButtons(
        label="Available Days *" name="weekday",
        :options="options.availabilities", :value="meetingWindow.weekday",
        @click="updateInput")
      InputLabel Available Hours *
      v-container(grid-list-xs)
        v-layout(row, wrap, align-center)
          v-flex(xs5)
            Dropdown(label="", :options="beginHourOptions",
              name="beginHour", :value="meetingWindow.beginHour",
              @update="updateInput")
          v-flex(xs2)
            div.hour-to to
          v-flex(xs5)
            Dropdown(label="", :options="endHourOptions",
              name="endHour", :value="meetingWindow.endHour",
              @update="updateInput")

    Accordion(title="3. Connect Your Calendar")
      Authenticator
      TextInput(name="organizer" label="Organizer *", :rules="['required']",
        :value="meetingWindow.organizer",
        placeholder="Johnny Appleseed", @update="updateInput")
      Dropdown(
        label="Time Zone *", name="utcOffset", :value="meetingWindow.utcOffset",
        :options="options.utcOffsets", @update="updateInput")
    div.mt-5
      Button(@click="submit", :loading="loading.submit",
        :disabled="!isFormValid || !hasCalendar")
        | Create Event
